* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 80px;
    border-bottom: 4px solid black;
    margin-bottom: 5px;
    padding: 5px;
}

#btnBack {
    position: absolute;
    right: 55px;
}

#btnThemeToggle {
    position: absolute;
    right: 5px;
}

main {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

footer {
    border-top: 4px solid black;
    margin-top: 5px;
}