* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 80px;
    border-bottom: 4px solid var(--colorBorder);
    margin-bottom: 5px;
    padding: 5px;
}

#btnBack {
    position: absolute;
    top: 27px;
    right: 55px;
    border-radius: 5px;
    color: var(--colorButtonText);
    background-color: var(--colorButtonBG);
}

#btnThemeToggle {
    position: absolute;
    right: 5px;
    border-radius: 5px;
    color: var(--colorButtonText);
    background-color: var(--colorButtonBG);
}

main {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    border-top: 4px solid var(--colorBorder);
    border-bottom: 4px solid var(--colorBorder);
}

footer {
    border-top: 4px solid var(--colorBorder);
    margin-top: 5px;
}